node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.log
build/
dist/
.expo/
.expo-shared/
*.orig
.idea/
.vscode/
*.swp
*.swo
*~

# iOS
ios/Pods/
ios/Podfile.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
